{% load static %}
 
<title>具体步骤</title> 
<a href="/polyflow/" stroke="CadetBlue">回上一页</a>
<img src="{% static 'polyflow/images/国有土地.gif' %}"/>
<!-- <a href="javascript:;" onclick="repeat()">
 
<div id="modal_volume" style="position: fixed; text-align: center; width: 100%; height: 100%; top: 0; z-index: 9999; display: none;">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td align="center" style="">
                    <div style="width: 900px; position: relative">
                        <a href="zjb_enroll?course=专业课提高班">
                           <img src="{% static 'polyflow/images/国有土地.gif' %}" /></a>
                        <a href="javascript:$('#modal_volume').fadeOut();" style="display: block; width: 45px; height: 45px; position: absolute; right: 11px; top: 10px; z-index: 2"></a>
                    </div>
                </td>
            </tr>
        </table>
</div> -->


<!-- <!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>具体细节<details></title>
<style type="text/css"> 
body { font-family: sans-serif; }
 
details {
　overflow: hidden;
　background: #e3e3e3;
　margin-bottom: 10px;
　display: block;
}
 
details summary {
　cursor: pointer;
　padding: 10px;
}
 
details div {
　float: left;
　width: 65%;
}
 
details div h3 { margin-top: 0; }
 
details img {float: left;}
</style>
</head>
<body>
　　<details>　
　　　 <summary>想了解详情吗</summary>　
　　　 <img src="{% static 'polyflow/images/国有土地.gif' %}" />
　　</details>　
</body>
</html> -->
